@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-medium-body-2-font-family: "Inter", Helvetica;
  --body-medium-body-2-font-size: 16px;
  --body-medium-body-2-font-style: normal;
  --body-medium-body-2-font-weight: 500;
  --body-medium-body-2-letter-spacing: 0px;
  --body-medium-body-2-line-height: 24px;
  --body-regular-body-2-font-family: "Inter", Helvetica;
  --body-regular-body-2-font-size: 16px;
  --body-regular-body-2-font-style: normal;
  --body-regular-body-2-font-weight: 400;
  --body-regular-body-2-letter-spacing: 0px;
  --body-regular-body-2-line-height: 24px;
  --body-regular-body-3-font-family: "Inter", Helvetica;
  --body-regular-body-3-font-size: 14px;
  --body-regular-body-3-font-style: normal;
  --body-regular-body-3-font-weight: 400;
  --body-regular-body-3-letter-spacing: 0px;
  --body-regular-body-3-line-height: 20px;
  --brandprimary: rgba(76, 175, 79, 1);
  --button-link-medium-font-family: "Inter", Helvetica;
  --button-link-medium-font-size: 16px;
  --button-link-medium-font-style: normal;
  --button-link-medium-font-weight: 400;
  --button-link-medium-letter-spacing: 0px;
  --button-link-medium-line-height: 20px;
  --button-link-normal-font-family: "Inter", Helvetica;
  --button-link-normal-font-size: 18px;
  --button-link-normal-font-style: normal;
  --button-link-normal-font-weight: 400;
  --button-link-normal-letter-spacing: 0px;
  --button-link-normal-line-height: 24px;
  --button-link-small-font-family: "Inter", Helvetica;
  --button-link-small-font-size: 14px;
  --button-link-small-font-style: normal;
  --button-link-small-font-weight: 400;
  --button-link-small-letter-spacing: 0px;
  --button-link-small-line-height: 16px;
  --default-white: rgba(255, 255, 255, 1);
  --heading-headline-1-font-family: "Inter", Helvetica;
  --heading-headline-1-font-size: 64px;
  --heading-headline-1-font-style: normal;
  --heading-headline-1-font-weight: 600;
  --heading-headline-1-letter-spacing: 0px;
  --heading-headline-1-line-height: 76px;
  --heading-headline-2-font-family: "Inter", Helvetica;
  --heading-headline-2-font-size: 36px;
  --heading-headline-2-font-style: normal;
  --heading-headline-2-font-weight: 600;
  --heading-headline-2-letter-spacing: 0px;
  --heading-headline-2-line-height: 44px;
  --heading-headline-3-font-family: "Inter", Helvetica;
  --heading-headline-3-font-size: 28px;
  --heading-headline-3-font-style: normal;
  --heading-headline-3-font-weight: 700;
  --heading-headline-3-letter-spacing: 0px;
  --heading-headline-3-line-height: 36px;
  --heading-headline-4-font-family: "Inter", Helvetica;
  --heading-headline-4-font-size: 20px;
  --heading-headline-4-font-style: normal;
  --heading-headline-4-font-weight: 600;
  --heading-headline-4-letter-spacing: 0px;
  --heading-headline-4-line-height: 28px;
  --label-medium-label-font-family: "Inter", Helvetica;
  --label-medium-label-font-size: 14px;
  --label-medium-label-font-style: normal;
  --label-medium-label-font-weight: 500;
  --label-medium-label-letter-spacing: 0px;
  --label-medium-label-line-height: 20px;
  --neutralblack: rgba(38, 50, 56, 1);
  --neutraldgrey: rgba(77, 77, 77, 1);
  --neutralgrey: rgba(113, 113, 113, 1);
  --neutralgreyblue: rgba(171, 190, 209, 1);
  --neutrallgrey: rgba(137, 147, 158, 1);
  --neutralsilver: rgba(245, 247, 250, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --shades-2: rgba(56, 142, 59, 1);
  --shadow-8px: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  --text-gray-300: rgba(217, 219, 225, 1);
  --text-gray-900: rgba(24, 25, 31, 1);
  --tintt-5: rgba(232, 245, 233, 1);
}
